# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
# 'context-menu':
#   'atom-text-editor': [
#     {
#       'label': 'Paste as table'
#       'command': 'paste-table:paste-table'
#     }
#   ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Paste Table'
      'submenu': [
        {
          'label': 'Paste as table'
          'command': 'paste-table:paste-table'
        }
      ]
    ]
  }
]
